@import "https://unpkg.com/open-props/easings.min.css";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    box-sizing: border-box;
    color: var(--spotify-white);
    font-family: 'Manrope', sans-serif;
}

/* center everything */

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--spotify-black);
    display: grid;
    place-content: center;
    margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/

/*
    Album
*/

.album {
    background-color: var(--spotify-darkGrey);
    padding: 1.5rem;
    border-radius: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.album__img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.album__header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

}

.album__title {
    grid-column-start: 1;

}

.album__artist {
    grid-column-start: 1;
    grid-row-start: 2;
    color: var(--spotify-grey);
}

.button-reset {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.album__action {
    display: grid;
}

.toggle__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--spotify-grey);
    transition: opacity 0.3s var(--ease-in-out-2), transform 0.3s var(--ease-in-out-4);
}

.icon--add {
    grid-column-start: 1;
    grid-row-start: 1;
    fill: var(--spotify-green);
}

.icon--check {
    grid-column-start: 1;
    grid-row-start: 1;
    fill: var(--spotify-green);
    /* display: none; */
}


/*
    Utitlities
*/

.u-hidden {
    display: none;
}

.u-opacity-0 {
    opacity: 0;
}

.u-opacity-1 {
    opacity: 1;
}

.u-rotate-180 {
    transform: rotate(180deg);
}

.color-grey {
    color: var(--spotify-grey);
}